*.a
*.o
*.out
*.exe
*.test
*.log
*.prof
*.coverage
*.bak
*.swp
*.swo

/go.sum
/go.mod

/vendor/
/bin/
/build/

/.idea/
/.vscode/
/*.sublime-project
/*.sublime-workspace

*.iml
*.sublime-workspace
*.sublime-project

*.log
*.tmp

*.fyne/

/.DS_Store
Thumbs.db
